<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <connectionStrings>
    <add connectionString="Server=MIGUELLOPEZ;Database=DemoPractica;User ID=sa;Password=123456" name="Proyecto"/>
    <!--<add connectionString="Server=E307-PC29\SQLSERVER2014;Database=DemoPractica;Integrated Security=SSPI" name="Proyecto"/>-->
    <!--<add connectionString="Server=LAPTOP-H2FA13VT;Database=Proyecto;User ID=sa;Password=123" name="Proyecto"/>-->
  </connectionStrings>
</configuration>